 
	  h1.test{
	         font-style: italic;
			 font-size:60px;
			 
			 color : orange;
	  }
	      .brown{font-size:45px;
		  color:brown;font-family:cursive;}
	      .red{font-size:35px; color:red;font-family:cursive;}
		  .green{font-size:25px; color:green;font-family:cursive;}